{% load static %}
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">

{% for estudiante in estudiantes %}
    <li>{{estudiante}}</li>
    <a class="btn btn-warning">Edit</a>
    <a class="btn btn-danger">Delete</a>
{% endfor %}
<a class="btn btn-success" href="/AppCoder/create_estudiantes">+Agregar Estudiante</a>

{% load static %}
<link rel="">
{% for estudiante in estudiantes %}
    <li>
        {{estudiante}}
        <a class="btn btn-warning">Edith</a>
        <a href="/AppCoder/delete_estudiantes/{{estudiante.email}}" class="btn btn-danger">Delete</a>
    </li>
{% endfor %}